*{
    box-sizing: border-box;
}

ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

li{
    font-family: sans-serif;
    text-align: center;
    display: inline-block;
    flex: 1 1 150px;
}

.logo{
    flex-basis: 100%;
    text-align: center;
}

#photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#photos div{
    flex: 1 1 auto;
    text-align: center;
    padding: 0.3em;
}

@media (min-width: 768px){

    ul{
        align-items: center;
    }

    li{
        flex: 1 1 auto;
    }
    .logo{
        flex-basis: auto;
        order: 2;
    }

    .graffiti, .branding{
        order: 3;
    }
}
